.p{
 
  margin-top: 0;
  margin-bottom: 0;
}
.thumbnail{
  width: 100%;
  
}
.search-bar{
  display: block;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 8px;
  padding-bottom: 3px;
  flex: 1;
  height: 34px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(186, 183, 183);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
  padding-left: 8px;
}

.line-title{
  margin-bottom: 8px;
  margin-top: 0px;
  position: relative;


}

.projectinfo-grid {
  display: grid;
  grid-template-columns: 50px  1fr;
  
}


.dp-ptarget {
  width: 36px;
  border-radius: 50px;

}



.thumbnail-p{
  margin-bottom: 12px;
  position: relative;
}
.owner,
.vid-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.vid-stats{
  margin-top: -4px;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));  /*modern css grid technique that replaces the need for writing multiple @media queries for resposive layout*/
  column-gap: 16px;
  row-gap: 30px;
  max-width: 100%;
  padding: 20px;
}



body{
  font-family: Roboto,Arial;
  margin: 0;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 1px;
  background-color: rgb(250, 249, 249);
  
  
}
.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);


}
.left-section{

  display: flex;
  align-items: center;
 
}
.middle-section{
 
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
}
.search-button{
  height: 41px;
  width: 66px;
  background-color: rgb(239, 238, 238);
  border-width: 1px;
  border-style: solid;
  border-color:  rgb(186, 183, 183);
  margin-left: -1px;
  margin-right: 10px;

}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-container,
.notifications-icon-container{
  position: relative;

}

  .search-button .tooltip,
  .voice-search-button .tooltip,
  .upload-icon-container .tooltip,
  .youtube-app-container .tooltip,
  .notifications-icon-container .tooltip{
  
  position: absolute;
  background-color: rgb(168, 167, 167);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13.5px;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}
.search-icon{
  height: 25px;
  margin-top: 5px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon{
  height: 24px;
  margin-top: 4px;
 

}
.right-section{

  width: 200px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}
.youtube-apps-icon{
  height: 24px;
}
.notifications-icon{
  height: 24px;
}


.notifications-icon-container{
  position: relative;

}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 18, 18);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}


.current-user-picture{
  height: 30px;
  width: 32px;
  border-radius: 16px;

}
.burger-menu{
  height: 30px;
  margin-left: 24px;
  margin-right: 20px;
}
.utube-logo{
  height: 20px;
}

.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
  height:74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(234, 231, 231);
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 3px;
}

.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 10px;
  flex-direction: row;
}

.project-time{
  color: white;
  background-color: black;
  position: absolute;
  bottom: 5px;
  right: 6px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;


}


* {
  text-decoration: none;
  color: inherit;
}
