p{
  font-family: arial;
}

.git-text{
  
  font-size: 18px;
  font-weight: bold;
  width: 400px;
  line-height: 26px;
  margin-bottom: 5px;
 
}

.git-sec{
  font-family: arial;
  font-size: 14px;
  color: grey;
  width: 300px;
  line-height: 24px;
}
.fit{
  margin-bottom: 20px;
}

.new-text{
  margin-bottom: 50px;
  font-size: 14px;
  background-color:purple;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
 
}

.span-demo{
color:rgb(230, 16, 190);
}
.span-demo:hover{
  text-decoration: underline;
}


.span-d:hover{
  text-decoration: underline;
  cursor: pointer;
  color: black;
}